<div class="login-page">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <img src="/images/ambulance_plain_red.png" width="150px" class="user-avatar" />
            <h1>Get Ambulance Admin</h1>
            <form role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" ng-model="myLogin.username" class="form-control input-underline input-lg" id="" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" [(ngModel)]="myLogin.password" id="" placeholder="Password">
                    </div>
                </div>

                <a class="btn rounded-btn" (click)="onClick()"> Log in </a>
                &nbsp;
                <a type="submit" class="btn rounded-btn" href="#dashboard/home">Register</a>
            </form>
        </div>
    </div>
</div>