<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{'דף ראשי' | translate}}</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        
      

        <stats number="18" comments="{{'הזמנות מלווים' | translate}}" colour="yellow" type="heartbeat"></stats>
        <stats number="24" comments="{{'הזמנות העלאה/הורדה מדרגות' | translate}}" colour="red" type="wheelchair"></stats>
        <stats number="12" comments="{{'הזמנות מטפלים' | translate}}" colour="green" type="user-md"></stats>
        <stats number="6" comments="{{'הזמנות אמבולנס' | translate}}" colour="primary" type="ambulance "></stats>

    </div>
    <!--<div ng-controller="ReservationCtrl"></div>-->

    <reservations-cmp></reservations-cmp>

    <!-- /.panel -->
    <!--<div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Responsive Timeline
                </div>-->
                <!-- /.panel-heading -->
                <!--<timeline></timeline>-->
                <!-- /.panel-body -->
            <!--</div>-->
            <!-- /.panel -->
        <!--</div>-->
        <!-- /.col-lg-8 -->
        <!--<div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> Notifications Panel
                </div>-->
                <!-- /.panel-heading -->
                <!--<notifications></notifications>--> 
                <!-- /.panel-body -->
            <!--</div>-->
            <!-- /.panel -->

            <!--<chat></chat>-->
             <!-- /.panel .chat-panel -->
        <!--</div>-->
        <!-- /.col-lg-4 -->
    <!--</div>-->
    <!-- /.row -->
</div>
