<ion-view >
  <ion-content class="home">
      <div class="fhm_container">
          <div class="fhm_row">
              <div class="fhm_item therapist-assistant-fhm">
                  <i class="fa fa-user-md fa-5x"></i>
              </div>
              <div  class="fhm_item get-ambulance-fhm">
                  <a href="#/app/reservation-form"><i class="fa fa-ambulance fa-5x"></i></a> 
              </div>
             
          </div>
          <div class="fhm_row">
              <div class="fhm_item stairs-assistant-fhm">
                  <i class="fa fa-wheelchair fa-5x"></i>
              </div>
              <div class="fhm_item general-assistant-fhm">
                  <i class="fa fa-heartbeat fa-5x"></i>
              </div>
          </div>
          
      </div>
  </ion-content>
</ion-view>
